@import "rsuite/dist/rsuite.css";
.download {
    border: 1px solid;
    border-radius: 20px;
    padding-inline: 25px;
    border-color: rgba(18, 50, 136, 1);
    text-decoration: none;
    color: rgba(18, 50, 136, 1);
    text-decoration: none;
  }
